.inputArea {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;

	margin-top: calc(0px - 1.5rem - 6px);
}

.taskArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;

	margin-top: 64px;
}

.countsTask {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	width: 736px;

	margin-bottom: 24px;
}

.createTask {
	color: var(--blue);
	font-size: 14px;
	height: 17px;
}

.finishTask {
	color: var(--purple);
	font-size: 14px;
	height: 17px;
}

.count {
	color: white;
	background-color: var(--gray-400);
	border-radius: 999px;
	width: 25px;
	padding: 2px 8px;
	text-align: center;
	margin-left: 8px;
	font-size: 14px;
}

.tasks {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	width: 736px;
	height: 244px;

	border-radius: 8px;
}

.noTask {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.clipboard {
	width: 56px;
	height: 56px;

	margin-bottom: 16px;
}

.mainTitle {
	color: var(--gray-300);
	font-size: 16px;
	font-weight: 700;
	line-height: 22.4px;
	text-align: center;
}

.secondaryTitle {
	color: var(--gray-300);
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: center;
}
